[submodule "gokz"]
	path = gokz
	url = https://github.com/FemboyKZ/gokz.git
	branch = fkz
[submodule "sm-ext-json"]
	path = sm-ext-json
	url = https://github.com/FemboyKZ/sm-ext-json.git
[submodule "sm-ext-websocket"]
	path = sm-ext-websocket
	url = https://github.com/FemboyKZ/sm-ext-websocket.git
