[submodule "gokz"]
	path = gokz
	url = https://github.com/KZGlobalTeam/gokz.git
	branch = master
[submodule "sm-ext-json"]
	path = sm-ext-json
	url = https://github.com/ProjectSky/sm-ext-json.git
[submodule "sm-ext-websocket"]
	path = sm-ext-websocket
	url = https://github.com/ProjectSky/sm-ext-websocket.git
